<div class="panel">
  <div class="panel-heading">{{ 'Number of hours'|trans({}, 'Modules.WHCallback.Admin') }} </div>
  {{ form(settingForm) }}
</div>

<div class="panel">
  <div class="panel-heading">{{ 'List of requests'|trans({}, 'Modules.WHCallback.Admin') }}</div>
  <a href="{{ linkGrid }}" class="btn btn-info">{{ 'Click here to go to the list'|trans({}, 'Modules.WHCallback.Admin') }}</a>
</div>
